.header {
    text-align: center;
    color: white;
    font-family: "Big Shoulders Stencil Text", cursive;
    background-color: rgba(75, 75, 114, 0.541);
    align-items: center;
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.timer-box {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(184, 1, 1);
    background-color: bisque;
}

body {
    background-color: antiquewhite;
    /* background-image: url("https://media1.popsugar-assets.com/files/thumbor/fQV14blXlEh5-GohuhnAudI7TG8/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-:watermark-!popsugar-watermark_2x.png,-5,-5,0!-/2017/05/24/652/n/1922398/11ba884859259b36435d63.10345825_edit_img_image_16360412_1495635996/i/Dwayne-Johnson-Posing-Rock-Photos.jpg"); */
}

.input {
    width: 150px;
    height: 30px;
}

.left-box {
    margin-left: 20px;
    text-align: center;
}

.center {
    display: inline-block;
}

.brown {
    background-color: rgba(85, 40, 40, 0.37);
    text-align: center;
}

.center-box {
    text-align: center;
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 50px;
}

.center {
    margin-top: 20px;
}

.content-container {
    width: 300px;
    height: 100px;
    color: white;
    background-color: rgba(85, 35, 35, 0.541);
    text-align: center;
    line-height: 100px;
}

#game {
    display: none;
}

.modal-dialog {
    -webkit-transform: translate(0, -40%);
    -o-transform: translate(0, -40%);
    transform: translate(0, -40%);
    top: 40%;
    margin: 0 auto;
}

.score {
    color: red;
    font-weight: bold;
}